.destination-link {
  display: flex;
  justify-content: center;
}

.destination {
  width: 300px;
  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
