.details-wrap {
  display: flex;
  margin-top: 10rem;
  padding: 2rem 0 2rem 1rem;
}

.img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60%;
}

.loc-img {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 40%;
  padding-inline: 1.5rem;
}

.details-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.headline {
  color: #383838;
  text-align: center;
  font-size: 2rem;
  font-weight: bolds;
}

.details-list {
  display: flex;
  flex-direction: column;
}

.details-list li:nth-child(odd) {
  background-color: #bdbdbd;
}

.list-item {
  display: flex;
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  justify-content: space-between;
  list-style: none;
  font-weight: bold;
}

.reserve-btn {
  display: flex;
  justify-content: flex-end;
}

.reserve-btn button {
  width: 8rem;
  background-color: rgb(116, 189, 8);
  color: aliceblue;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}

.reserve-btn button:hover {
  color: #383838;
  background-color: rgba(116, 189, 8, 0.8);
}

.btn-icon {
  margin-left: 1.4rem;
  margin-bottom: 0.3rem;
  width: 1rem;
}

.back-btn {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: left;
}

.back-btn button {
  width: 10rem;
  background-color: rgba(116, 189, 8);
  color: #383838;
  font-size: 1rem;
  padding: 1rem;
  margin-right: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.back-btn button:hover {
  color: #383838;
  background-color: rgba(116, 189, 8, 0.8);
}

.back-btn-icon {
  font-size: 2rem;
}

@media screen and (max-width: 769px) {
  .details-wrap {
    flex-direction: column;
    padding-left: 0;
    gap: 2rem;
  }

  .img-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-inline: 1rem;
    max-width: none;
    min-width: none;
  }

  .back-btn {
    margin: 0 0 3rem 0;
  }
}
