@media (min-width: 1024px) {
  .logout-bg {
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1473625247510-8ceb1760943f?q=80&w=2011&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logout {
    height: 80px;
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #f5f5f598;
    color: #d52727ba;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .logout:hover {
    background-color: #d52727ba;
    color: #fff;
  }
}

@media (max-width: 1023px) {
  .logout-bg {
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1642953973257-e5b5a946b367?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logout {
    height: 80px;
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #f5f5f598;
    color: #d52727ba;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .logout:hover {
    background-color: #d52727ba;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .logout-bg {
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1642953973257-e5b5a946b367?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logout {
    height: 80px;
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #f5f5f598;
    color: #d52727ba;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
