.nav-container {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-img {
  display: flex;
  align-items: center;
}

.logo {
  width: 3.2rem;
  height: 3.2rem;
}

.toggle-button {
  width: 40px;
  height: 40px;
}
