:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 95vw;
  margin-inline: auto;
}

.row { display: flex; }
.grow { flex-grow: 1; }
.full { width: 100%; }
.full-height { min-height: 100vh; }
.wrap { flex-wrap: wrap; }
.justify { justify-content: center; }
.align { place-items: center; }
.center { text-align: center; }
.right { text-align: end; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: var(--clr-text);
  background-color: var(--clr-white);
}

#root {
  min-width: 320px;
}

form {
  max-width: 70%;
  padding: 2em 1em;
  border-radius: 12px;
  background-color: var(--clr-white--pure);
  box-shadow: 0 0 6px var(--clr-text--light);
}

h2 {
  font-size: 1.8rem;
  line-height: 1;
  margin-block-start: 0;
}

.lbl {
  color: var(--clr-text--semi);
}

input {
  font-size: 1.25rem;
  padding: 0.3em;
}

label + input {
  margin-block-start: 0.25rem;
}

.field + .field {
  margin-block-start: 1rem;
}

.field + button {
  margin-block-start: 1.5rem;
}

.btn {
  border-radius: 999px;
  border: 2px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn--primary {
  background-color: var(--clr-primary);
}

.btn--primary:hover {
  border-color: var(--clr-accent);
}

.reservations {
  font-size: 1rem;
}

.reservations__header {
  font-weight: 700;
  background-color: var(--clr-accent);
}

.reservation:nth-child(even) {
  background-color: var(--clr-secondary);
}

.cell {
  padding: 0.25em 0.5em;
}

.nav-links {
  background-color: var(--clr-primary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
